<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Diamadmin</title>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.min.css" data-th-href="@{/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="/diamadmin/css/diamadmin.css" data-th-href="@{/diamadmin/css/diamadmin.css}" />
	<script type="text/javascript" src="/jquery/jquery-3.6.1.slim.min.js" th:src="@{/jquery/jquery-3.6.1.slim.min.js}"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="/diamadmin/js/diamadmin.js" th:src="@{/diamadmin/js/diamadmin.js}"></script>
	
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/diamadmin/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/diamadmin/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/diamadmin/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/diamadmin/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/diamadmin/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/diamadmin/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/diamadmin/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/diamadmin/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/diamadmin/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/diamadmin/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/diamadmin/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/diamadmin/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/diamadmin/favicon/favicon-16x16.png">
	<link rel="manifest" href="/diamadmin/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>