<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Diamadmin</title>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.min.css" data-th-href="@{/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="/diamadmin/css/diamadmin.css" data-th-href="@{/diamadmin/css/diamadmin.css}" />
	<script type="text/javascript" src="/jquery/jquery-3.6.1.slim.min.js" th:src="@{/jquery/jquery-3.6.1.slim.min.js}"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="/diamadmin/js/diamadmin.js" th:src="@{/diamadmin/js/diamadmin.js}"></script>
</head>