<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:href="@{/}"><img src="#" th:src="@{${ rutaLogo + 'images/logo/logobluenavbar1.png'}}" alt="Diamadmin" id="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" th:href="@{/app}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
    	<li>
           	<form th:action="@{/logout}" method="post">
           		<button class="btn btn-danger ms-3">CERRAR SESIÓN</button>
           	</form>
       	</li>
      </ul>
    </div>
  </div>
</nav>
