<div th:replace="~{inc/head}"></div>
<div th:replace="~{inc/navigation}"></div>
	    <section>
	        <article>
	            <header>
	            	<div class="d-flex justify-content-between">
		                <h1>USUARIOS</h1>
		                <button class="btn btn-primary" id="crearUsuario">Nuevo usuario</button>
	            	</div>
	            </header>
	        </article>
	        <table class="table table-hover tblUsuarios">
			   <thead class="cursor-none">
			      <tr>
			         <th class="header" scope="col">Nombre de usuario</th>
			         <th class="header" scope="col">Nombre de contacto</th>
			         <th class="header" scope="col">Primer apellido</th>
			         <th class="header" scope="col">Segundo apellido</th>
			         <th class="header" scope="col">Télefono</th>
			         <th class="header" scope="col">Email</th>
			         <th class="header" scope="col"></th>
			      </tr>
			   </thead>
			   <tbody>
			   		<tr th:each="us:${usuarios}" class="cursor-pointer filaUsuarios">
			   			<th scope="row" th:text="${us.idUsuarios}" id="idUsuario" class="d-none">
			   			<th scope="row" th:text="${us.nombreUsuario}">
			   			<th scope="row" th:text="${us.nombreContacto}">
			   			<th scope="row" th:text="${us.ape1Contacto}">
			   			<th scope="row" th:text="${us.ape2Contacto}">
			   			<th scope="row" th:text="${us.telefono}">
			   			<th scope="row" th:text="${us.email}">			
			   			<th scope="row">
			   				<a type="button" class="btn btn-outline-warning" href="#" th:href="@{/app/usuarios/detalle/} + ${us.idUsuarios}">Editar</a>
			   				<a type="button" class="btn btn-outline-danger" href="#" th:href="@{/app/usuarios/delete/} + ${us.idUsuarios}">Eliminar</a>
			   			</th>			
			   		</tr>
			   </tbody>
			</table>	
	    </section>
<div th:replace="~{inc/footer}"></div>