/*General*/

thead {
	font-size: 1.2rem;
}

body {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

/*Eventos de ratón*/

.cursor-pointer{
	cursor: pointer;	
}
.cursor-none{	
	pointer-events: none;
}

/* Responsive para móvil */

@media only screen and (max-width: 768px) {
  th{
  	font-size: 0.5rem;
  }
}