/*General*/
body {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Eventos de ratón */
.cursor-pointer{
	cursor: pointer;	
}
.cursor-none{	
	pointer-events: none;
}	

footer {
	width: 100%;
	height: 12rem;
}

/* Estilos para imágenes */
.fondoIndex {
	width: 100%;
  	height: 40.5rem !important;
	background-image: url("../images/fondo_index1.jpg") !important;
	background-size: 100% 40.5rem;
	background-repeat: no-repeat;
	opacity: 0.8;
}

/*Estilos para el navbar */
.bd-navbar {
	min-height: 4rem;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
}


	

/* Responsive max móvil */
@media (min-width: 768px){
	.nav-item a {
	   	font-size: 1.2rem;
	}
}

	
/* Responsive móvil */
@media (max-width: 991.98px) {
  	#logo{
	  	width: 150px;
	  	height: 39px;
  	}
  
  	.nav-item a {
    	font-size: 0.8rem;
	}
 
}