<div th:replace="~{inc/head}"></div>
	<section class="fondo">
		<div class="signup-target">
			<div class="d-flex justify-content-between align-items-center pt-5">
				<a href="#" th:href="@{/}">
					<img src="#" th:src="@{'images/logo/logo_icon1.png'}" alt="Diamadmin">
				</a>
				<p class="text-center mb-3 h5">¿Ya tienes una cuenta?<strong class="text-primary"><a href="#" th:href="@{/login}"> Accede</a></strong></p>
			</div>
			
		    <div class="info-registro-target mt-5 p-3">				
				<div class="mb-3">
					<h2 class="animText1 h5 text-primary">¡Bienvenidx a Diamadmin!</h2>
					<h2 class="animText2 h5 text-primary">Ponemos en orden tu información.</h2>
				</div>						
				<form th:action="@{/signupcheck}" method="post">
			        <input class="d-none" id="location" value="signup">
			        <div id="singup-email-group">		        	
			        	<label for="singup-email" class="text-secondary ps-2">Introduce tu email</label>
				        <div class="input-group mb-3 p-2">				        
						  <input type="text" class="form-control" id="singup-email" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
						  <button class="btn btn-outline-primary" type="button" id="button-addon2">Continuar</button>
						</div>
					</div>	
		    	</form>	       		   
	        </div>
		</div>
	</section>
<div th:replace="~{inc/footer}"></div>
