<div th:replace="~{inc/head}"></div>
	<input class="d-none" id="location" value="home">
    <section id="fondo_home">
		<div class="row">
			<div class="col-6 col-sm-4 col-xl-2 position-relative">
				<a id="home_compDev_link" class="home_links" href="#" th:href="@{/compras_devol}">		
					<div class="hover_text">
					    <p>Compras y devoluciones</p>
				  	</div>
			  	</a>
			</div>
			<div class="col-6 col-sm-4 col-xl-2 position-relative">
				<a id="home_prod_link" class="home_links" href="#" th:href="@{/produccion}">		
					<div class="hover_text">
					    <p>Producción</p>
				  	</div>
			  	</a>				
			</div>
			<div class="col-6 col-sm-4 col-xl-2 position-relative">
				<a id="home_ventas_link" class="home_links" href="#" th:href="@{/ventas}">		
					<div class="hover_text">
					    <p>Ventas</p>
				  	</div>
			  	</a>
			</div>
			<div class="col-6 col-sm-4 col-xl-2 position-relative">
				<a id="home_prove_link" class="home_links" href="#" th:href="@{/proveedores}">		
					<div class="hover_text">
					    <p>Provedores</p>
				  	</div>
			  	</a>			
			</div>
			<div class="col-6 col-sm-4 col-xl-2 position-relative">
				<a id="home_client_link" class="home_links" href="#" th:href="@{/app/clientes/maint}">		
					<div class="hover_text">
					    <p>Clientes</p>
				  	</div>
			  	</a>				
			</div>
			<div class="col-6 col-sm-4 col-xl-2 position-relative">
				<a id="home_mantRep_link" class="home_links" href="#" th:href="@{/mant_rep}">		
					<div class="hover_text">
					    <p>Mantenimientos y reparaciones</p>
				  	</div>
			  	</a>
			</div>
		</div>
    </section>
    
    
<!-- 
<header>
    <h1>USUARIOS #2</h1>
    <a href="#" th:href="@{/app/usuarios/maint}">Usuarios</a>
</header>
-->
<div th:replace="~{inc/footer}"></div>