<div th:replace="~{inc/head}"></div>
    <section class="fondo">
        <article>
            <header>
                <h1>APLICACIÓN</h1>
            </header>
            <div>
               TABLA MANTENIMIENTO
            </div>
        </article>
        <article>
            <header>
                <h1>USUARIOS #2</h1>
                <a href="#" th:href="@{/app/usuarios/maint}">Usuarios</a>
            </header>
            <div>
                This is the second article.  These articles could be blog posts, etc.  
            </div>
        </article>
    </section>
<div th:replace="~{inc/footer}"></div>