<div th:replace="~{inc/head}"></div>
	<input class="d-none" id="location" value="home">
    <section id="fondo_home">
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<a id="home_compDev_link" class="home_links" href="#" th:href="@{/compras_devol}"></a>				
			</div>
			<div class="col-md-6 col-lg-4">
				<a id="home_prod_link" class="home_links" href="#" th:href="@{/produccion}"></a>				
			</div>
			<div class="col-md-6 col-lg-4">
				<a id="home_ventas_link" class="home_links" href="#" th:href="@{/ventas}"></a>
			</div>
			<div class="col-md-6 col-lg-4">
				<a id="home_prove_link" class="home_links" href="#" th:href="@{/proveedores}"></a>				
			</div>
			<div class="col-md-6 col-lg-4">
				<a id="home_client_link" class="home_links" href="#" th:href="@{/clientes}"></a>				
			</div>
			<div class="col-md-6 col-lg-4">
				<a id="home_mantRep_link" class="home_links" href="#" th:href="@{/mant_rep}"></a>
			</div>
		</div>
    </section>
    
    
<!-- 
<header>
    <h1>USUARIOS #2</h1>
    <a href="#" th:href="@{/app/usuarios/maint}">Usuarios</a>
</header>
-->
<div th:replace="~{inc/footer}"></div>