<div th:replace="~{inc/head}"></div>
    <section>
        <article>
            <header>
            	<div class="d-flex justify-content-between">
	                <h1>NUEVO CLIENTE</h1><h1>EDITAR CLIENTE</h1>	                
            	</div>
            </header>
        </article>
        <form th:action="@{/app/clientes/add}" th:object="${clientes}" method="post">
        	<input class="d-none" id="idCliente" value="${clientes.idClientes}" />
		    <fieldset>
		        <legend>Datos del cliente</legend>
		        <table>
		            <tr>
		                <td><label th:text="#{clientes.nombreEmpresa}">Nombre de empresa: </label></td>
		                <td><input type="text" th:field="*{nombreEmpresa}" /></td>
		            </tr>			         	           
		            <tr>
		                <td>
		                    <button type="submit">Registrar...</button>
		                </td>
		            </tr>
		        </table>
		    </fieldset>
		</form>
    </section>
<div th:replace="~{inc/footer}"></div>
